<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xj.mapper.ScMapper" >
  <resultMap id="BaseResultMap" type="cn.xj.pojo.Sc" >
    <id column="SCid" property="scid" jdbcType="CHAR" />
    <result column="Sno" property="sno" jdbcType="CHAR" />
    <result column="Cno" property="cno" jdbcType="CHAR" />
    <result column="Grade" property="grade" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SCid, Sno, Cno, Grade
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.xj.pojo.ScExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sc
    where SCid = #{scid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sc
    where SCid = #{scid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.xj.pojo.ScExample" >
    delete from sc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.xj.pojo.Sc" >
    insert into sc (SCid, Sno, Cno, Grade
      )
    values (#{scid,jdbcType=CHAR}, #{sno,jdbcType=CHAR}, #{cno,jdbcType=CHAR}, #{grade,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.xj.pojo.Sc" >
    insert into sc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scid != null" >
        SCid,
      </if>
      <if test="sno != null" >
        Sno,
      </if>
      <if test="cno != null" >
        Cno,
      </if>
      <if test="grade != null" >
        Grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scid != null" >
        #{scid,jdbcType=CHAR},
      </if>
      <if test="sno != null" >
        #{sno,jdbcType=CHAR},
      </if>
      <if test="cno != null" >
        #{cno,jdbcType=CHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.xj.pojo.ScExample" resultType="java.lang.Integer" >
    select count(*) from sc
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sc
    <set >
      <if test="record.scid != null" >
        SCid = #{record.scid,jdbcType=CHAR},
      </if>
      <if test="record.sno != null" >
        Sno = #{record.sno,jdbcType=CHAR},
      </if>
      <if test="record.cno != null" >
        Cno = #{record.cno,jdbcType=CHAR},
      </if>
      <if test="record.grade != null" >
        Grade = #{record.grade,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sc
    set SCid = #{record.scid,jdbcType=CHAR},
      Sno = #{record.sno,jdbcType=CHAR},
      Cno = #{record.cno,jdbcType=CHAR},
      Grade = #{record.grade,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xj.pojo.Sc" >
    update sc
    <set >
      <if test="sno != null" >
        Sno = #{sno,jdbcType=CHAR},
      </if>
      <if test="cno != null" >
        Cno = #{cno,jdbcType=CHAR},
      </if>
      <if test="grade != null" >
        Grade = #{grade,jdbcType=CHAR},
      </if>
    </set>
    where SCid = #{scid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xj.pojo.Sc" >
    update sc
    set Sno = #{sno,jdbcType=CHAR},
      Cno = #{cno,jdbcType=CHAR},
      Grade = #{grade,jdbcType=CHAR}
    where SCid = #{scid,jdbcType=CHAR}
  </update>
</mapper>